/* Scss Document */

@mixin fz($size) {
    font-size: $size + px;
    font-size: ($size / 10) + rem;
}

@mixin box($type: border-box) {
  @include box-sizing(#{$type});
}
@mixin display-flex($display: flex) {
  display: $display;
  display: -webkit-#{$display};
}
@mixin flex-direction($direction: row) {
  flex-direction: $direction;
  flex-direction: -webkit-#{$direction};
}
@mixin flex-wrap($wrap: nowrap) {
  flex-wrap: $wrap;
  flex-wrap: -webkit-#{$wrap};
}
@mixin justify-content($justify: flex-start) {
	justify-content: $justify;
	-webkit-justify-content: $justify;
}
@mixin align-items($align-items: stretch) {
  align-items: $align-items;
  -webkit-align-items: $align-items;
}
@mixin align-content($align-content: stretch) {
  align-content: $align-content;
  -webkit-align-content: $align-content;
}

@mixin position ($position: relative, $top: auto, $right: auto, $bottom: auto, $left: auto,$margin: auto) {
  margin: $margin;
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin media($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}
